In [31]:
import pandas as pd

accidents = pd.read_json('accidents.json')

In [32]:
accidents.head()

,crash_record_id,crash_date,posted_speed_limit,traffic_control_device,device_condition,weather_condition,lighting_condition,first_crash_type,trafficway_type,alignment,...,crash_date_est_i,private_property_i,photos_taken_i,work_zone_i,work_zone_type,statements_taken_i,dooring_i,workers_present_i,rd_no,lane_cnt
0,1d0b6295ed8ecc52585b2c4825eee723fd51ca4fc1c0bc...,2020-10-10T01:23:00.000,30,TRAFFIC SIGNAL,FUNCTIONING PROPERLY,CLEAR,"DARKNESS, LIGHTED ROAD",ANGLE,T-INTERSECTION,STRAIGHT AND LEVEL,...,None,None,None,None,None,None,None,None,None,NaN
1,1791a96fc83772d013a94af00f6315603b4337bdd1204c...,2020-10-10T01:15:00.000,30,TRAFFIC SIGNAL,FUNCTIONING PROPERLY,UNKNOWN,"DARKNESS, LIGHTED ROAD",REAR END,FOUR WAY,STRAIGHT AND LEVEL,...,None,None,None,None,None,None,None,None,None,NaN
2,3f0ea94406089fb36fe862cdd019d9f217af7331faab61...,2020-10-10T00:35:00.000,30,TRAFFIC SIGNAL,UNKNOWN,CLEAR,"DARKNESS, LIGHTED ROAD",SIDESWIPE SAME DIRECTION,FOUR WAY,STRAIGHT AND LEVEL,...,None,None,None,None,None,None,None,None,None,NaN
3,ea3a052cacc9082647e8cf74049eb0fe4e8a70af10c397...,2020-10-09T23:40:00.000,25,NO CONTROLS,NO CONTROLS,CLEAR,"DARKNESS, LIGHTED ROAD",PARKED MOTOR VEHICLE,NOT DIVIDED,STRAIGHT AND LEVEL,...,None,None,None,None,None,None,None,None,None,NaN
4,96bf92e29f4efdc665fa74bcc8db3cb7bcac076cc1d6be...,2020-10-09T23:10:00.000,30,TRAFFIC SIGNAL,FUNCTIONING PROPERLY,CLEAR,"DARKNESS, LIGHTED ROAD",SIDESWIPE SAME DIRECTION,DIVIDED - W/MEDIAN (NOT RAISED),STRAIGHT AND LEVEL,...,None,None,None,None,None,None,None,None,None,NaN

In [33]:
accidents.describe

<bound method NDFrame.describe of                                           crash_record_id  \
0       1d0b6295ed8ecc52585b2c4825eee723fd51ca4fc1c0bc...
1       1791a96fc83772d013a94af00f6315603b4337bdd1204c...
2       3f0ea94406089fb36fe862cdd019d9f217af7331faab61...
3       ea3a052cacc9082647e8cf74049eb0fe4e8a70af10c397...
4       96bf92e29f4efdc665fa74bcc8db3cb7bcac076cc1d6be...
...                                                   ...
446280  964aaaeb569e364886cfbdf89ca73e09ca15cd916d87b2...
446281  1d0232afecbdfd01968555aa956a688fd6f55a2bd1984f...
446282  957783a4787318f005a7dbc920e4c84cb9ac8aa7329a62...
446283  f62e27317feb174811cf4fefeb9fa1064fea6c0619a873...
446284  a802658be15312809c771559e4f81088cfb226830792a5...

                     crash_date  posted_speed_limit traffic_control_device  \
0       2020-10-10T01:23:00.000                  30         TRAFFIC SIGNAL
1       2020-10-10T01:15:00.000                  30         TRAFFIC SIGNAL
2       2020-10-10T00:35:00.000                  30         TRAFFIC SIGNAL
3       2020-10-09T23:40:00.000                  25            NO CONTROLS
4       2020-10-09T23:10:00.000                  30         TRAFFIC SIGNAL
...                         ...                 ...                    ...
446280  2014-06-25T19:00:00.000                  30            NO CONTROLS
446281  2014-02-24T19:45:00.000                  30         TRAFFIC SIGNAL
446282  2014-01-21T07:40:00.000                  30                  YIELD
446283  2014-01-18T18:14:00.000                  30            NO CONTROLS
446284  2013-03-03T16:48:00.000                  30         TRAFFIC SIGNAL

            device_condition weather_condition      lighting_condition  \
0       FUNCTIONING PROPERLY             CLEAR  DARKNESS, LIGHTED ROAD
1       FUNCTIONING PROPERLY           UNKNOWN  DARKNESS, LIGHTED ROAD
2                    UNKNOWN             CLEAR  DARKNESS, LIGHTED ROAD
3                NO CONTROLS             CLEAR  DARKNESS, LIGHTED ROAD
4       FUNCTIONING PROPERLY             CLEAR  DARKNESS, LIGHTED ROAD
...                      ...               ...                     ...
446280           NO CONTROLS              RAIN                DAYLIGHT
446281  FUNCTIONING PROPERLY              RAIN                DAYLIGHT
446282           NO CONTROLS             CLEAR                DAYLIGHT
446283           NO CONTROLS             CLEAR                    DUSK
446284  FUNCTIONING PROPERLY             CLEAR                DAYLIGHT

                    first_crash_type                  trafficway_type  \
0                              ANGLE                   T-INTERSECTION
1                           REAR END                         FOUR WAY
2           SIDESWIPE SAME DIRECTION                         FOUR WAY
3               PARKED MOTOR VEHICLE                      NOT DIVIDED
4           SIDESWIPE SAME DIRECTION  DIVIDED - W/MEDIAN (NOT RAISED)
...                              ...                              ...
446280      SIDESWIPE SAME DIRECTION                      NOT DIVIDED
446281                       TURNING                      NOT DIVIDED
446282                         ANGLE  DIVIDED - W/MEDIAN (NOT RAISED)
446283          PARKED MOTOR VEHICLE       DIVIDED - W/MEDIAN BARRIER
446284  SIDESWIPE OPPOSITE DIRECTION                      NOT DIVIDED

                 alignment  ... crash_date_est_i private_property_i  \
0       STRAIGHT AND LEVEL  ...             None               None
1       STRAIGHT AND LEVEL  ...             None               None
2       STRAIGHT AND LEVEL  ...             None               None
3       STRAIGHT AND LEVEL  ...             None               None
4       STRAIGHT AND LEVEL  ...             None               None
...                    ...  ...              ...                ...
446280  STRAIGHT AND LEVEL  ...             None               None
446281  STRAIGHT AND LEVEL  ...             None               None
446282  STRAIGHT AND LEVEL  ...             None               None
446283  STRAIGHT AND LEVEL  ...             None               None
446284  STRAIGHT AND LEVEL  ...             None               None

       photos_taken_i work_zone_i work_zone_type statements_taken_i dooring_i  \
0                None        None           None               None      None
1                None        None           None               None      None
2                None        None           None               None      None
3                None        None           None               None      None
4                None        None           None               None      None
...               ...         ...            ...                ...       ...
446280           None        None           None               None      None
446281           None        None           None               None      None
446282           None        None           None               None      None
446283           None        None           None               None      None
446284           None        None           None               None      None

       workers_present_i     rd_no  lane_cnt
0                   None      None       NaN
1                   None      None       NaN
2                   None      None       NaN
3                   None      None       NaN
4                   None      None       NaN
...                  ...       ...       ...
446280              None  JC321679       NaN
446281              None  HZ164689       NaN
446282              None  HZ122950       NaN
446283              None  JB442550       NaN
446284              None  JC172482       2.0

[446285 rows x 49 columns]>

In [34]:
# Convert crash date to proper Pandas datetime
import datetime
accidents['crash_date'] =  pd.to_datetime(accidents['crash_date'])
accidents.dtypes

crash_record_id                          object
crash_date                       datetime64[ns]
posted_speed_limit                        int64
traffic_control_device                   object
device_condition                         object
weather_condition                        object
lighting_condition                       object
first_crash_type                         object
trafficway_type                          object
alignment                                object
roadway_surface_cond                     object
road_defect                              object
report_type                              object
crash_type                               object
intersection_related_i                   object
damage                                   object
date_police_notified                     object
prim_contributory_cause                  object
sec_contributory_cause                   object
street_no                                 int64
street_direction                         object
street_name                              object
beat_of_occurrence                      float64
num_units                                 int64
most_severe_injury                       object
injuries_total                          float64
injuries_fatal                          float64
injuries_incapacitating                 float64
injuries_non_incapacitating             float64
injuries_reported_not_evident           float64
injuries_no_indication                  float64
injuries_unknown                        float64
crash_hour                                int64
crash_day_of_week                         int64
crash_month                               int64
latitude                                float64
longitude                               float64
location                                 object
hit_and_run_i                            object
crash_date_est_i                         object
private_property_i                       object
photos_taken_i                           object
work_zone_i                              object
work_zone_type                           object
statements_taken_i                       object
dooring_i                                object
workers_present_i                        object
rd_no                                    object
lane_cnt                                float64
dtype: object

In [17]:
# Find Fatalities

fatalities = accidents.loc[(accidents['injuries_fatal'] > 0), :]
fatalities_clean = fatalities[['latitude', 'longitude']]
fatalities_clean.dropna(axis=0, inplace=True)
fatalities_clean.reset_index(drop=True)

C:\Users\stang\anaconda3\lib\site-packages\ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """

      latitude  longitude
0    41.844692 -87.685587
1    41.677403 -87.674865
2    41.751726 -87.558468
3    41.696855 -87.642373
4    41.872973 -87.725258
..         ...        ...
411  41.780743 -87.584654
412  41.771598 -87.615564
413  41.771215 -87.615553
414  41.896099 -87.672299
415  41.773286 -87.602185

[416 rows x 2 columns]

In [18]:
fatalities_clean.to_json(r'fatalities.json')

In [35]:
hit_n_run = accidents.loc[(accidents['hit_and_run_i'] == "Y"), :]
index = hit_n_run.index
number_of_rows = len(index)
number_of_rows

123041

In [36]:
hit_n_run_clean = hit_n_run[['crash_date','latitude', 'longitude']]
hit_n_run_clean.dropna(axis=0, inplace=True)
hit_n_run_clean.reset_index(drop=True)

C:\Users\stang\anaconda3\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

                crash_date   latitude  longitude
0      2020-10-10 01:15:00  41.898423 -87.706616
1      2020-10-10 00:35:00  41.768441 -87.663957
2      2020-10-09 22:23:00  41.881882 -87.647707
3      2020-10-09 22:15:00  41.882216 -87.758742
4      2020-10-09 21:30:00  41.997631 -87.689270
...                    ...        ...        ...
122574 2015-07-04 00:15:00  41.886851 -87.745654
122575 2015-05-20 14:24:00  41.868220 -87.708311
122576 2015-04-16 22:00:00  41.691573 -87.613194
122577 2014-06-25 19:00:00  41.835886 -87.724474
122578 2013-03-03 16:48:00  41.975857 -87.708744

[122579 rows x 3 columns]

In [37]:
hit_n_run_clean.sort_values(by='crash_date')

                crash_date   latitude  longitude
446284 2013-03-03 16:48:00  41.975857 -87.708744
446280 2014-06-25 19:00:00  41.835886 -87.724474
446272 2015-04-16 22:00:00  41.691573 -87.613194
446270 2015-05-20 14:24:00  41.868220 -87.708311
446264 2015-07-04 00:15:00  41.886851 -87.745654
...                    ...        ...        ...
9      2020-10-09 21:30:00  41.997631 -87.689270
7      2020-10-09 22:15:00  41.882216 -87.758742
6      2020-10-09 22:23:00  41.881882 -87.647707
2      2020-10-10 00:35:00  41.768441 -87.663957
1      2020-10-10 01:15:00  41.898423 -87.706616

[122579 rows x 3 columns]

In [40]:
accidents_2020 = hit_n_run_clean.loc[(hit_n_run_clean['crash_date'] > '2019')].reset_index(drop=True)
accidents_2020

               crash_date   latitude  longitude
0     2020-10-10 01:15:00  41.898423 -87.706616
1     2020-10-10 00:35:00  41.768441 -87.663957
2     2020-10-09 22:23:00  41.881882 -87.647707
3     2020-10-09 22:15:00  41.882216 -87.758742
4     2020-10-09 21:30:00  41.997631 -87.689270
...                   ...        ...        ...
55144 2019-01-01 00:30:00  41.892501 -87.628243
55145 2019-01-01 00:15:00  41.857986 -87.616319
55146 2019-01-01 00:07:00  41.854088 -87.664472
55147 2019-01-01 00:07:00  41.954529 -87.784311
55148 2019-01-01 00:01:00  41.946856 -87.670809

[55149 rows x 3 columns]

In [46]:
accidents_2019 = hit_n_run_clean.loc[(hit_n_run_clean['crash_date'] < '2020') & (hit_n_run_clean['crash_date'] > '2018')].reset_index(drop=True)
accidents_2019

               crash_date   latitude  longitude
0     2019-12-31 23:58:00  41.871798 -87.696190
1     2019-12-31 23:50:00  41.887805 -87.765268
2     2019-12-31 23:45:00  41.883962 -87.674114
3     2019-12-31 23:40:00  41.892330 -87.635448
4     2019-12-31 23:39:00  41.819047 -87.629506
...                   ...        ...        ...
63293 2018-01-01 01:00:00  41.817355 -87.623197
63294 2018-01-01 01:00:00  41.923912 -87.699226
63295 2018-01-01 01:00:00  41.756498 -87.613695
63296 2018-01-01 01:00:00  41.759675 -87.644420
63297 2018-01-01 00:20:00  41.985479 -87.659979

[63298 rows x 3 columns]

In [47]:
accidents_2018 = hit_n_run_clean.loc[(hit_n_run_clean['crash_date'] < '2019') & (hit_n_run_clean['crash_date'] > '2017')].reset_index(drop=True)
accidents_2018

               crash_date   latitude  longitude
0     2018-12-31 23:55:00  41.660397 -87.618035
1     2018-12-31 23:45:00  41.809188 -87.666049
2     2018-12-31 23:45:00  41.851521 -87.724905
3     2018-12-31 23:40:00  41.898711 -87.752165
4     2018-12-31 23:37:00  41.885238 -87.627782
...                   ...        ...        ...
53582 2017-01-01 00:59:00  41.893313 -87.619482
53583 2017-01-01 00:55:00  41.901385 -87.627964
53584 2017-01-01 00:45:00  41.792625 -87.670764
53585 2017-01-01 00:10:00  41.892846 -87.629835
53586 2017-01-01 00:01:00  41.750883 -87.597760

[53587 rows x 3 columns]

In [48]:
accidents_2017 = hit_n_run_clean.loc[(hit_n_run_clean['crash_date'] < '2018') & (hit_n_run_clean['crash_date'] > '2016')].reset_index(drop=True)
accidents_2017

               crash_date   latitude  longitude
0     2017-12-31 23:58:00  41.768401 -87.686127
1     2017-12-31 23:55:00  41.891375 -87.758066
2     2017-12-31 23:50:00  41.714233 -87.642857
3     2017-12-31 23:43:00  41.891717 -87.757785
4     2017-12-31 23:29:00  41.983104 -87.713600
...                   ...        ...        ...
33542 2016-01-01 02:30:00  41.773479 -87.583216
33543 2016-01-01 02:00:00  41.873509 -87.754967
33544 2016-01-01 02:00:00  41.893126 -87.635760
33545 2016-01-01 01:00:00  41.898494 -87.624180
33546 2016-01-01 01:00:00  41.879777 -87.704474

[33547 rows x 3 columns]

In [52]:
accidents_2020.to_json(r'hit_n_run_2020.json')
accidents_2019.to_json(r'hit_n_run_2019.json')
accidents_2018.to_json(r'hit_n_run_2018.json')
accidents_2017.to_json(r'hit_n_run_2017.json')